<div class="card shadow engineer-card">
  <div class="card-header bg-primary">
    <h1 class="card-title text-white">${ name }</h1>
    <h2 class="card-title text-white">${ role }</h2>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">ID: ${ id }</li>
      <li class="list-group-item">Email: <a href="mailto:${ email }">${ email }</a></li>
      <li class="list-group-item">GitHub: <a href="https://github.com/${ github }" target="_blank">${ github }</a>
      </li>
    </ul>
  </div>
</div>